<table class="table table-striped table-bordered table-hover">
  <tbody>
    <tr>
      <td>!Clique em novo para adicionar uma tarefa!</td>
    </tr>
    <tr>
      <td>
        Digite o nome da tarefa e pressione cadastrar para salvar a tarefa ou
        voltar para abortar o procedimento
      </td>
    </tr>
    <tr>
      <td>
        Ao realizar a tarefa marque a caixa de seleção para indica-la como
        concuída. Voce também pode desfazer a ação desmarcando a caixa
      </td>
    </tr>
    <tr>
      <td>O botão editar altera uma tarefa cadastrada</td>
    </tr>
    <tr>
      <td>O botão remover apaga uma tarefa cadastrada</td>
    </tr>
    <tr>
      <td>
        *Os dados serão salvo apenas no seu navegador;<br />*Para persistência
        dos dados é nescessário manter os cookies ativos e utilizar sempre o
        mesmo navegador;<br />
        *Ao excluir históricos e dados de navegação as informações porerão ser
        perdidas
      </td>
    </tr>

    <tr>
      <td class="text-center" style="width: 200px">
        <a [routerLink]="['/tarefas']" class="btn btn-default">
          <span
            class="glyphicon glyphicon-chevron-left"
            aria-hidden="true"
          ></span>
          Voltar
        </a>
      </td>
    </tr>
  </tbody>
</table>
